<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somtam</title>
    <style>
        body {
            background-color: black;
            color: yellow;
        }
    </style>
</head>

<body>
    <h1>Welcome to Som Tam</h1>
    <p>This is a pet project to understand Nodejs, Typescript and more.</p>
    <p>
        <%= quote %>
    </p>
</body>

</html>