<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <script>
        const ROOM_ID = "<%= roomId %>";
        const USER_ID = "<%= userId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/static/stars.css">
    <style>
        body {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
        }

        .container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        #video-grid {
            width: 100%;
            max-height: 20%;
            max-width: 1020px;
            display: flex;
            justify-content: space-around;
            margin-right: 16px;
        }

        video {
            width: 200px;
            height: 200px;
            margin-right: 16px;
            margin-top: 16px;
            border: 1px solid white;
            /* box-shadow: 6px 12px <%=videoColor %>; */
            object-fit: cover;
        }

        canvas {
            width: 100%;
            height: 80%;
        }

        .chat-container {
            width: 30vw;
            height: 100%;
            background-color: rgba(0.4, 0.4, 0.4, 0.5);
        }

        #chat-log {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 94%;
            color: white;
            font-size: 16px;
            display: flex;
            flex-direction: column-reverse;
        }

        .chat-message {
            font-size: x-large;
            color: cornsilk;
            padding: 8px;
            font-style: normal;
            width: fit-content;
            max-width: 80%;
            margin: 5px 7px;
        }

        .my-message {
            background: lightblue;
            border-radius: 5px;
            align-self: flex-start;
        }

        .other-message {
            background: crimson;
            border-radius: 5px;
            align-self: flex-end;
        }

        #chat-prompt {
            height: 6%;
            width: 100%;
            padding: 14;
            font-size: medium;
            border: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <!-- Background stars -->
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

    <!-- Chat -->
    <aside class="chat-container">
        <ul id="chat-log">

        </ul>
        <form id="chat-form" action="">
            <input type="text" name="prompt" id="chat-prompt" placeholder="Say hi...">
        </form>
    </aside>

    <!-- Video stuff -->
    <main class="container">
        <div id="video-grid"></div>
        <canvas id="game"></canvas>
    </main>


    <script src="/static/script.js"></script>
    <script type="module" src="/static/3d.js"></script>
</body>

</html>