html,
body {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1558px 149px #fff, 43px 1998px #fff, 1934px 1672px #fff,
        487px 1199px #fff, 1991px 1607px #fff, 396px 1126px #fff,
        858px 877px #fff, 1936px 1568px #fff, 265px 727px #fff,
        465px 1160px #fff, 590px 560px #fff, 1516px 625px #fff, 2px 179px #fff,
        533px 674px #fff, 1192px 483px #fff, 1090px 1926px #fff,
        1889px 591px #fff, 1498px 1159px #fff, 1518px 651px #fff,
        784px 1787px #fff, 1932px 970px #fff, 1398px 98px #fff,
        1107px 1049px #fff, 375px 1268px #fff, 1898px 752px #fff,
        203px 1748px #fff, 1064px 1433px #fff, 1778px 892px #fff,
        431px 1963px #fff, 476px 1156px #fff, 1893px 1054px #fff,
        1752px 488px #fff, 814px 1928px #fff, 453px 176px #fff, 82px 81px #fff,
        1450px 1729px #fff, 985px 1042px #fff, 1093px 1196px #fff,
        82px 220px #fff, 661px 1085px #fff, 115px 356px #fff, 1851px 961px #fff,
        589px 1464px #fff, 21px 448px #fff, 1944px 1574px #fff,
        1099px 729px #fff, 1242px 434px #fff, 1106px 616px #fff,
        1759px 1586px #fff, 1155px 1512px #fff, 1503px 229px #fff,
        1310px 889px #fff, 1903px 295px #fff, 674px 1198px #fff,
        822px 688px #fff, 9px 62px #fff, 1663px 1878px #fff, 1007px 1853px #fff,
        1150px 316px #fff, 219px 294px #fff, 114px 1683px #fff,
        1345px 1684px #fff, 1242px 217px #fff, 925px 1538px #fff,
        860px 976px #fff, 1560px 1986px #fff, 1557px 210px #fff,
        937px 1462px #fff, 1018px 1241px #fff, 1344px 455px #fff,
        920px 1881px #fff, 1845px 1921px #fff, 589px 837px #fff,
        970px 440px #fff, 188px 1165px #fff, 823px 657px #fff, 1456px 473px #fff,
        1807px 938px #fff, 982px 1799px #fff, 1657px 1030px #fff,
        844px 187px #fff, 1422px 1167px #fff, 945px 1777px #fff,
        482px 1533px #fff, 888px 888px #fff, 1532px 248px #fff,
        713px 1744px #fff, 1444px 1957px #fff, 906px 389px #fff,
        185px 395px #fff, 15px 384px #fff, 417px 1089px #fff, 121px 982px #fff,
        768px 1704px #fff, 560px 1765px #fff, 34px 1281px #fff,
        415px 1146px #fff, 1792px 1568px #fff, 507px 90px #fff, 377px 635px #fff,
        1708px 825px #fff, 1342px 265px #fff, 254px 708px #fff,
        1379px 1417px #fff, 1750px 1744px #fff, 1527px 1064px #fff,
        738px 1330px #fff, 39px 454px #fff, 656px 500px #fff, 321px 1702px #fff,
        1083px 678px #fff, 785px 892px #fff, 398px 335px #fff, 1423px 27px #fff,
        1634px 1094px #fff, 1472px 337px #fff, 677px 1109px #fff,
        892px 1902px #fff, 993px 1721px #fff, 1666px 75px #fff,
        959px 1155px #fff, 665px 114px #fff, 124px 445px #fff, 1613px 90px #fff,
        269px 1866px #fff, 1032px 489px #fff, 1726px 990px #fff,
        1607px 1923px #fff, 130px 1110px #fff, 1864px 1328px #fff,
        680px 612px #fff, 89px 251px #fff, 1586px 1103px #fff,
        1341px 1477px #fff, 1395px 1867px #fff, 463px 405px #fff,
        277px 1763px #fff, 1767px 1715px #fff, 418px 730px #fff,
        1331px 34px #fff, 764px 1376px #fff, 293px 1054px #fff,
        1441px 967px #fff, 492px 846px #fff, 135px 1359px #fff, 970px 539px #fff,
        474px 1006px #fff, 1953px 1118px #fff, 1024px 266px #fff,
        1074px 959px #fff, 114px 1037px #fff, 530px 1028px #fff,
        129px 1916px #fff, 594px 1819px #fff, 46px 1487px #fff,
        1825px 1200px #fff, 1950px 1923px #fff, 1285px 1514px #fff,
        320px 202px #fff, 105px 990px #fff, 85px 437px #fff, 348px 42px #fff,
        1044px 246px #fff, 381px 1581px #fff, 1686px 364px #fff,
        1809px 779px #fff, 833px 574px #fff, 1856px 727px #fff, 418px 947px #fff,
        1522px 379px #fff, 1913px 1452px #fff, 1157px 1399px #fff,
        439px 559px #fff, 1424px 271px #fff, 200px 1259px #fff,
        1817px 880px #fff, 36px 1115px #fff, 1748px 1646px #fff,
        364px 1310px #fff, 881px 613px #fff, 1024px 859px #fff,
        181px 1751px #fff, 698px 1234px #fff, 1724px 468px #fff,
        1030px 677px #fff, 364px 90px #fff, 1112px 1230px #fff, 959px 845px #fff,
        796px 678px #fff, 168px 1746px #fff, 894px 1465px #fff,
        1703px 1640px #fff, 748px 1418px #fff, 914px 1691px #fff,
        313px 1042px #fff, 370px 18px #fff, 1537px 1501px #fff,
        1340px 1486px #fff, 1159px 354px #fff, 509px 1118px #fff,
        62px 444px #fff, 982px 57px #fff, 385px 228px #fff, 1787px 820px #fff,
        550px 966px #fff, 1868px 1666px #fff, 874px 503px #fff,
        1917px 1610px #fff, 1388px 337px #fff, 1712px 983px #fff,
        1536px 980px #fff, 793px 2000px #fff, 248px 159px #fff,
        1715px 144px #fff, 1419px 1346px #fff, 1898px 238px #fff,
        942px 27px #fff, 1711px 746px #fff, 1117px 1552px #fff, 899px 576px #fff,
        1141px 1987px #fff, 1063px 740px #fff, 648px 1479px #fff,
        1748px 453px #fff, 1892px 1005px #fff, 592px 1288px #fff,
        1326px 284px #fff, 1098px 1591px #fff, 260px 1688px #fff,
        188px 386px #fff, 848px 612px #fff, 339px 1695px #fff, 149px 1737px #fff,
        94px 1203px #fff, 1165px 1627px #fff, 978px 1002px #fff,
        341px 1660px #fff, 1973px 1591px #fff, 1608px 778px #fff,
        283px 952px #fff, 1531px 800px #fff, 758px 747px #fff,
        1331px 1975px #fff, 1134px 1911px #fff, 1900px 1481px #fff,
        1154px 15px #fff, 218px 466px #fff, 1678px 1977px #fff,
        1701px 661px #fff, 1283px 1193px #fff, 1502px 278px #fff,
        480px 65px #fff, 1789px 1018px #fff, 1035px 332px #fff,
        566px 1148px #fff, 183px 1416px #fff, 1760px 299px #fff,
        1857px 1600px #fff, 1364px 1850px #fff, 1926px 836px #fff,
        1443px 1024px #fff, 123px 879px #fff, 235px 766px #fff,
        1369px 1382px #fff, 319px 86px #fff, 536px 1431px #fff,
        1149px 1389px #fff, 1398px 221px #fff, 1555px 129px #fff,
        645px 371px #fff, 148px 491px #fff, 824px 940px #fff, 1046px 820px #fff,
        662px 84px #fff, 1494px 1761px #fff, 210px 544px #fff,
        1924px 1676px #fff, 343px 905px #fff, 1428px 625px #fff,
        1041px 1820px #fff, 1467px 1823px #fff, 580px 1372px #fff,
        1755px 1683px #fff, 1178px 1015px #fff, 896px 887px #fff,
        980px 1900px #fff, 1004px 1726px #fff, 165px 1685px #fff,
        556px 1868px #fff, 996px 1338px #fff, 920px 1914px #fff,
        1411px 1180px #fff, 375px 264px #fff, 1205px 1547px #fff,
        1112px 773px #fff, 794px 682px #fff, 1771px 951px #fff,
        917px 1233px #fff, 828px 1445px #fff, 928px 1194px #fff,
        680px 1499px #fff, 965px 925px #fff, 125px 263px #fff, 1924px 711px #fff,
        1899px 10px #fff, 468px 1902px #fff, 709px 1861px #fff,
        1617px 195px #fff, 1451px 1976px #fff, 399px 763px #fff,
        1428px 69px #fff, 1369px 84px #fff, 1773px 170px #fff, 1826px 834px #fff,
        1278px 1211px #fff, 1655px 1398px #fff, 27px 1680px #fff,
        1890px 987px #fff, 1529px 942px #fff, 1583px 249px #fff,
        1816px 890px #fff, 1606px 1760px #fff, 894px 1717px #fff,
        293px 558px #fff, 1795px 769px #fff, 1729px 247px #fff,
        259px 1844px #fff, 854px 1204px #fff, 1436px 297px #fff,
        701px 1301px #fff, 1270px 454px #fff, 1113px 1410px #fff,
        1512px 453px #fff, 24px 782px #fff, 1252px 753px #fff, 340px 1662px #fff,
        534px 1224px #fff, 494px 1142px #fff, 1238px 467px #fff,
        1794px 1390px #fff, 27px 395px #fff, 1153px 1478px #fff,
        952px 1873px #fff, 1171px 963px #fff, 292px 665px #fff,
        1311px 997px #fff, 1980px 1927px #fff, 290px 1694px #fff,
        970px 826px #fff, 172px 1393px #fff, 1900px 1990px #fff,
        1553px 1270px #fff, 1555px 1221px #fff, 1769px 597px #fff,
        329px 680px #fff, 648px 1032px #fff, 543px 708px #fff, 1433px 787px #fff,
        1480px 1645px #fff, 1267px 1619px #fff, 1094px 461px #fff,
        1890px 863px #fff, 1903px 470px #fff, 809px 1610px #fff,
        182px 1462px #fff, 1751px 1144px #fff, 1446px 1760px #fff,
        1250px 119px #fff, 1300px 33px #fff, 1486px 1953px #fff,
        633px 1109px #fff, 148px 1528px #fff, 317px 396px #fff, 824px 171px #fff,
        1821px 1802px #fff, 942px 969px #fff, 1883px 1765px #fff,
        1175px 42px #fff, 690px 184px #fff, 1714px 603px #fff,
        1556px 1869px #fff, 830px 792px #fff, 260px 910px #fff,
        540px 1506px #fff, 1076px 1672px #fff, 695px 1996px #fff,
        1750px 1532px #fff, 286px 809px #fff, 290px 311px #fff,
        1271px 1005px #fff, 1867px 442px #fff, 271px 400px #fff,
        1079px 12px #fff, 993px 569px #fff, 27px 1321px #fff, 1468px 1942px #fff,
        1227px 149px #fff, 908px 554px #fff, 1883px 770px #fff,
        1155px 965px #fff, 886px 1145px #fff, 643px 1994px #fff,
        1364px 833px #fff, 807px 1323px #fff, 1990px 786px #fff,
        1215px 1688px #fff, 1077px 1609px #fff, 429px 1607px #fff,
        1658px 557px #fff, 455px 1951px #fff, 1638px 1508px #fff,
        1985px 1092px #fff, 1251px 1645px #fff, 669px 1370px #fff,
        51px 1380px #fff, 1284px 1661px #fff, 1233px 540px #fff,
        1751px 574px #fff, 399px 446px #fff, 403px 1646px #fff,
        1840px 1449px #fff, 1604px 1336px #fff, 1498px 349px #fff,
        1984px 1002px #fff, 506px 1371px #fff, 1045px 1489px #fff,
        1680px 1250px #fff, 1811px 1200px #fff, 1625px 661px #fff,
        1510px 1968px #fff, 78px 230px #fff, 1613px 1842px #fff,
        240px 1033px #fff, 1835px 128px #fff, 1519px 948px #fff,
        1382px 940px #fff, 279px 1114px #fff, 1505px 525px #fff,
        1831px 1233px #fff, 1873px 589px #fff, 1072px 218px #fff,
        764px 989px #fff, 1820px 892px #fff, 869px 603px #fff,
        1148px 1381px #fff, 334px 1788px #fff, 670px 781px #fff,
        326px 1997px #fff, 727px 1692px #fff, 1897px 465px #fff,
        880px 113px #fff, 935px 56px #fff, 1224px 581px #fff, 859px 1061px #fff,
        1461px 1662px #fff, 170px 1952px #fff, 199px 896px #fff,
        355px 253px #fff, 476px 441px #fff, 438px 339px #fff, 650px 1055px #fff,
        541px 1846px #fff, 918px 138px #fff, 1200px 329px #fff,
        607px 1135px #fff, 1305px 1739px #fff, 993px 125px #fff,
        256px 1503px #fff, 756px 1120px #fff, 1990px 1611px #fff,
        1718px 489px #fff, 1447px 557px #fff, 1985px 1617px #fff,
        113px 271px #fff, 207px 380px #fff, 1831px 364px #fff, 236px 1411px #fff,
        1241px 1210px #fff, 1191px 240px #fff, 387px 1189px #fff,
        1151px 417px #fff, 1103px 1534px #fff, 574px 1235px #fff,
        196px 576px #fff, 683px 1003px #fff, 893px 1424px #fff,
        1295px 1187px #fff, 567px 1541px #fff, 804px 168px #fff,
        468px 1313px #fff, 1975px 1676px #fff, 1151px 1971px #fff,
        174px 1342px #fff, 1979px 1351px #fff, 644px 394px #fff,
        657px 1109px #fff, 595px 234px #fff, 631px 1178px #fff,
        800px 1700px #fff, 1887px 1229px #fff, 1417px 1990px #fff,
        1289px 763px #fff, 500px 112px #fff, 228px 257px #fff, 269px 272px #fff,
        1789px 504px #fff, 264px 491px #fff, 1955px 416px #fff, 844px 726px #fff,
        440px 1873px #fff, 1886px 52px #fff, 1188px 1815px #fff,
        1132px 1136px #fff, 1916px 1288px #fff, 175px 1330px #fff,
        1100px 545px #fff, 247px 248px #fff, 1392px 1063px #fff,
        739px 1589px #fff, 1596px 1503px #fff, 1440px 1052px #fff,
        1158px 848px #fff, 1834px 397px #fff, 1726px 1230px #fff,
        238px 772px #fff, 1736px 948px #fff, 916px 85px #fff, 383px 1121px #fff,
        689px 681px #fff, 1966px 292px #fff, 1545px 539px #fff,
        525px 1763px #fff, 584px 1692px #fff, 39px 1958px #fff,
        1385px 1103px #fff, 730px 986px #fff, 1225px 901px #fff,
        590px 179px #fff, 1236px 1345px #fff, 1145px 18px #fff,
        1264px 768px #fff, 896px 22px #fff, 230px 393px #fff, 1532px 640px #fff,
        210px 1307px #fff, 431px 1650px #fff, 991px 1167px #fff,
        239px 1854px #fff, 5px 298px #fff, 149px 8px #fff, 1970px 11px #fff,
        1694px 1876px #fff, 615px 919px #fff, 1448px 438px #fff,
        1339px 1775px #fff, 1253px 1487px #fff, 1198px 85px #fff,
        826px 988px #fff, 278px 1775px #fff, 1979px 98px #fff, 595px 456px #fff,
        510px 567px #fff, 926px 1141px #fff, 1307px 560px #fff, 317px 328px #fff,
        1467px 276px #fff, 214px 300px #fff, 1728px 838px #fff,
        1839px 1299px #fff, 841px 423px #fff, 1645px 1918px #fff,
        1674px 1229px #fff, 1051px 359px #fff, 810px 841px #fff,
        385px 401px #fff, 1895px 335px #fff, 1025px 1469px #fff,
        1062px 375px #fff, 1678px 1046px #fff, 94px 12px #fff, 609px 1928px #fff,
        1444px 150px #fff, 1047px 160px #fff, 1732px 1531px #fff,
        1692px 166px #fff, 229px 502px #fff, 111px 989px #fff, 1564px 646px #fff,
        1899px 853px #fff, 1102px 1017px #fff, 273px 1px #fff, 442px 1595px #fff,
        865px 561px #fff, 833px 934px #fff, 219px 829px #fff, 1885px 1447px #fff,
        1437px 2000px #fff, 603px 781px #fff, 23px 1943px #fff, 498px 244px #fff,
        1395px 1133px #fff, 279px 1848px #fff, 1467px 271px #fff,
        1637px 1324px #fff, 1169px 1401px #fff, 291px 860px #fff, 8px 282px #fff,
        1818px 56px #fff, 453px 1255px #fff, 22px 1655px #fff, 772px 933px #fff,
        1788px 549px #fff, 431px 1910px #fff, 1243px 1578px #fff,
        40px 1451px #fff, 263px 1013px #fff, 1935px 548px #fff,
        734px 1927px #fff, 31px 192px #fff, 1133px 1551px #fff, 847px 4px #fff,
        1157px 452px #fff, 749px 597px #fff, 165px 1812px #fff,
        432px 1485px #fff, 1817px 1108px #fff, 484px 285px #fff,
        1656px 39px #fff, 881px 255px #fff, 1638px 483px #fff, 776px 52px #fff,
        1674px 281px #fff, 393px 567px #fff, 1008px 1554px #fff,
        195px 1700px #fff, 473px 1098px #fff, 305px 1127px #fff,
        1797px 429px #fff, 1170px 901px #fff, 697px 307px #fff,
        1784px 101px #fff, 241px 1431px #fff, 465px 682px #fff, 917px 716px #fff,
        304px 645px #fff, 1706px 1233px #fff, 904px 161px #fff, 946px 460px #fff,
        1208px 1659px #fff, 1021px 1489px #fff, 680px 560px #fff,
        1202px 1118px #fff, 1893px 324px #fff, 1134px 11px #fff,
        220px 1929px #fff, 1664px 275px #fff, 568px 1835px #fff,
        915px 1935px #fff, 725px 1972px #fff, 1571px 1677px #fff,
        1014px 1606px #fff, 1975px 677px #fff, 913px 179px #fff,
        1225px 1235px #fff, 688px 1248px #fff, 1734px 1664px #fff,
        1088px 1949px #fff, 1072px 1401px #fff, 1368px 1681px #fff,
        142px 1787px #fff, 293px 1399px #fff, 541px 296px #fff,
        1634px 325px #fff, 63px 671px #fff, 1116px 894px #fff,
        1182px 1557px #fff, 1092px 788px #fff, 143px 375px #fff,
        1495px 1505px #fff, 990px 608px #fff, 337px 1607px #fff,
        1852px 945px #fff, 741px 664px #fff, 1934px 1040px #fff,
        1649px 963px #fff, 416px 735px #fff, 1675px 306px #fff, 858px 760px #fff,
        582px 1372px #fff, 318px 1599px #fff, 1529px 1844px #fff,
        1764px 1249px #fff, 1348px 1966px #fff, 1794px 3px #fff,
        340px 1689px #fff, 1402px 1820px #fff, 1459px 916px #fff,
        267px 1761px #fff, 138px 606px #fff, 1588px 637px #fff;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1558px 149px #fff, 43px 1998px #fff, 1934px 1672px #fff,
        487px 1199px #fff, 1991px 1607px #fff, 396px 1126px #fff,
        858px 877px #fff, 1936px 1568px #fff, 265px 727px #fff,
        465px 1160px #fff, 590px 560px #fff, 1516px 625px #fff, 2px 179px #fff,
        533px 674px #fff, 1192px 483px #fff, 1090px 1926px #fff,
        1889px 591px #fff, 1498px 1159px #fff, 1518px 651px #fff,
        784px 1787px #fff, 1932px 970px #fff, 1398px 98px #fff,
        1107px 1049px #fff, 375px 1268px #fff, 1898px 752px #fff,
        203px 1748px #fff, 1064px 1433px #fff, 1778px 892px #fff,
        431px 1963px #fff, 476px 1156px #fff, 1893px 1054px #fff,
        1752px 488px #fff, 814px 1928px #fff, 453px 176px #fff, 82px 81px #fff,
        1450px 1729px #fff, 985px 1042px #fff, 1093px 1196px #fff,
        82px 220px #fff, 661px 1085px #fff, 115px 356px #fff, 1851px 961px #fff,
        589px 1464px #fff, 21px 448px #fff, 1944px 1574px #fff,
        1099px 729px #fff, 1242px 434px #fff, 1106px 616px #fff,
        1759px 1586px #fff, 1155px 1512px #fff, 1503px 229px #fff,
        1310px 889px #fff, 1903px 295px #fff, 674px 1198px #fff,
        822px 688px #fff, 9px 62px #fff, 1663px 1878px #fff, 1007px 1853px #fff,
        1150px 316px #fff, 219px 294px #fff, 114px 1683px #fff,
        1345px 1684px #fff, 1242px 217px #fff, 925px 1538px #fff,
        860px 976px #fff, 1560px 1986px #fff, 1557px 210px #fff,
        937px 1462px #fff, 1018px 1241px #fff, 1344px 455px #fff,
        920px 1881px #fff, 1845px 1921px #fff, 589px 837px #fff,
        970px 440px #fff, 188px 1165px #fff, 823px 657px #fff, 1456px 473px #fff,
        1807px 938px #fff, 982px 1799px #fff, 1657px 1030px #fff,
        844px 187px #fff, 1422px 1167px #fff, 945px 1777px #fff,
        482px 1533px #fff, 888px 888px #fff, 1532px 248px #fff,
        713px 1744px #fff, 1444px 1957px #fff, 906px 389px #fff,
        185px 395px #fff, 15px 384px #fff, 417px 1089px #fff, 121px 982px #fff,
        768px 1704px #fff, 560px 1765px #fff, 34px 1281px #fff,
        415px 1146px #fff, 1792px 1568px #fff, 507px 90px #fff, 377px 635px #fff,
        1708px 825px #fff, 1342px 265px #fff, 254px 708px #fff,
        1379px 1417px #fff, 1750px 1744px #fff, 1527px 1064px #fff,
        738px 1330px #fff, 39px 454px #fff, 656px 500px #fff, 321px 1702px #fff,
        1083px 678px #fff, 785px 892px #fff, 398px 335px #fff, 1423px 27px #fff,
        1634px 1094px #fff, 1472px 337px #fff, 677px 1109px #fff,
        892px 1902px #fff, 993px 1721px #fff, 1666px 75px #fff,
        959px 1155px #fff, 665px 114px #fff, 124px 445px #fff, 1613px 90px #fff,
        269px 1866px #fff, 1032px 489px #fff, 1726px 990px #fff,
        1607px 1923px #fff, 130px 1110px #fff, 1864px 1328px #fff,
        680px 612px #fff, 89px 251px #fff, 1586px 1103px #fff,
        1341px 1477px #fff, 1395px 1867px #fff, 463px 405px #fff,
        277px 1763px #fff, 1767px 1715px #fff, 418px 730px #fff,
        1331px 34px #fff, 764px 1376px #fff, 293px 1054px #fff,
        1441px 967px #fff, 492px 846px #fff, 135px 1359px #fff, 970px 539px #fff,
        474px 1006px #fff, 1953px 1118px #fff, 1024px 266px #fff,
        1074px 959px #fff, 114px 1037px #fff, 530px 1028px #fff,
        129px 1916px #fff, 594px 1819px #fff, 46px 1487px #fff,
        1825px 1200px #fff, 1950px 1923px #fff, 1285px 1514px #fff,
        320px 202px #fff, 105px 990px #fff, 85px 437px #fff, 348px 42px #fff,
        1044px 246px #fff, 381px 1581px #fff, 1686px 364px #fff,
        1809px 779px #fff, 833px 574px #fff, 1856px 727px #fff, 418px 947px #fff,
        1522px 379px #fff, 1913px 1452px #fff, 1157px 1399px #fff,
        439px 559px #fff, 1424px 271px #fff, 200px 1259px #fff,
        1817px 880px #fff, 36px 1115px #fff, 1748px 1646px #fff,
        364px 1310px #fff, 881px 613px #fff, 1024px 859px #fff,
        181px 1751px #fff, 698px 1234px #fff, 1724px 468px #fff,
        1030px 677px #fff, 364px 90px #fff, 1112px 1230px #fff, 959px 845px #fff,
        796px 678px #fff, 168px 1746px #fff, 894px 1465px #fff,
        1703px 1640px #fff, 748px 1418px #fff, 914px 1691px #fff,
        313px 1042px #fff, 370px 18px #fff, 1537px 1501px #fff,
        1340px 1486px #fff, 1159px 354px #fff, 509px 1118px #fff,
        62px 444px #fff, 982px 57px #fff, 385px 228px #fff, 1787px 820px #fff,
        550px 966px #fff, 1868px 1666px #fff, 874px 503px #fff,
        1917px 1610px #fff, 1388px 337px #fff, 1712px 983px #fff,
        1536px 980px #fff, 793px 2000px #fff, 248px 159px #fff,
        1715px 144px #fff, 1419px 1346px #fff, 1898px 238px #fff,
        942px 27px #fff, 1711px 746px #fff, 1117px 1552px #fff, 899px 576px #fff,
        1141px 1987px #fff, 1063px 740px #fff, 648px 1479px #fff,
        1748px 453px #fff, 1892px 1005px #fff, 592px 1288px #fff,
        1326px 284px #fff, 1098px 1591px #fff, 260px 1688px #fff,
        188px 386px #fff, 848px 612px #fff, 339px 1695px #fff, 149px 1737px #fff,
        94px 1203px #fff, 1165px 1627px #fff, 978px 1002px #fff,
        341px 1660px #fff, 1973px 1591px #fff, 1608px 778px #fff,
        283px 952px #fff, 1531px 800px #fff, 758px 747px #fff,
        1331px 1975px #fff, 1134px 1911px #fff, 1900px 1481px #fff,
        1154px 15px #fff, 218px 466px #fff, 1678px 1977px #fff,
        1701px 661px #fff, 1283px 1193px #fff, 1502px 278px #fff,
        480px 65px #fff, 1789px 1018px #fff, 1035px 332px #fff,
        566px 1148px #fff, 183px 1416px #fff, 1760px 299px #fff,
        1857px 1600px #fff, 1364px 1850px #fff, 1926px 836px #fff,
        1443px 1024px #fff, 123px 879px #fff, 235px 766px #fff,
        1369px 1382px #fff, 319px 86px #fff, 536px 1431px #fff,
        1149px 1389px #fff, 1398px 221px #fff, 1555px 129px #fff,
        645px 371px #fff, 148px 491px #fff, 824px 940px #fff, 1046px 820px #fff,
        662px 84px #fff, 1494px 1761px #fff, 210px 544px #fff,
        1924px 1676px #fff, 343px 905px #fff, 1428px 625px #fff,
        1041px 1820px #fff, 1467px 1823px #fff, 580px 1372px #fff,
        1755px 1683px #fff, 1178px 1015px #fff, 896px 887px #fff,
        980px 1900px #fff, 1004px 1726px #fff, 165px 1685px #fff,
        556px 1868px #fff, 996px 1338px #fff, 920px 1914px #fff,
        1411px 1180px #fff, 375px 264px #fff, 1205px 1547px #fff,
        1112px 773px #fff, 794px 682px #fff, 1771px 951px #fff,
        917px 1233px #fff, 828px 1445px #fff, 928px 1194px #fff,
        680px 1499px #fff, 965px 925px #fff, 125px 263px #fff, 1924px 711px #fff,
        1899px 10px #fff, 468px 1902px #fff, 709px 1861px #fff,
        1617px 195px #fff, 1451px 1976px #fff, 399px 763px #fff,
        1428px 69px #fff, 1369px 84px #fff, 1773px 170px #fff, 1826px 834px #fff,
        1278px 1211px #fff, 1655px 1398px #fff, 27px 1680px #fff,
        1890px 987px #fff, 1529px 942px #fff, 1583px 249px #fff,
        1816px 890px #fff, 1606px 1760px #fff, 894px 1717px #fff,
        293px 558px #fff, 1795px 769px #fff, 1729px 247px #fff,
        259px 1844px #fff, 854px 1204px #fff, 1436px 297px #fff,
        701px 1301px #fff, 1270px 454px #fff, 1113px 1410px #fff,
        1512px 453px #fff, 24px 782px #fff, 1252px 753px #fff, 340px 1662px #fff,
        534px 1224px #fff, 494px 1142px #fff, 1238px 467px #fff,
        1794px 1390px #fff, 27px 395px #fff, 1153px 1478px #fff,
        952px 1873px #fff, 1171px 963px #fff, 292px 665px #fff,
        1311px 997px #fff, 1980px 1927px #fff, 290px 1694px #fff,
        970px 826px #fff, 172px 1393px #fff, 1900px 1990px #fff,
        1553px 1270px #fff, 1555px 1221px #fff, 1769px 597px #fff,
        329px 680px #fff, 648px 1032px #fff, 543px 708px #fff, 1433px 787px #fff,
        1480px 1645px #fff, 1267px 1619px #fff, 1094px 461px #fff,
        1890px 863px #fff, 1903px 470px #fff, 809px 1610px #fff,
        182px 1462px #fff, 1751px 1144px #fff, 1446px 1760px #fff,
        1250px 119px #fff, 1300px 33px #fff, 1486px 1953px #fff,
        633px 1109px #fff, 148px 1528px #fff, 317px 396px #fff, 824px 171px #fff,
        1821px 1802px #fff, 942px 969px #fff, 1883px 1765px #fff,
        1175px 42px #fff, 690px 184px #fff, 1714px 603px #fff,
        1556px 1869px #fff, 830px 792px #fff, 260px 910px #fff,
        540px 1506px #fff, 1076px 1672px #fff, 695px 1996px #fff,
        1750px 1532px #fff, 286px 809px #fff, 290px 311px #fff,
        1271px 1005px #fff, 1867px 442px #fff, 271px 400px #fff,
        1079px 12px #fff, 993px 569px #fff, 27px 1321px #fff, 1468px 1942px #fff,
        1227px 149px #fff, 908px 554px #fff, 1883px 770px #fff,
        1155px 965px #fff, 886px 1145px #fff, 643px 1994px #fff,
        1364px 833px #fff, 807px 1323px #fff, 1990px 786px #fff,
        1215px 1688px #fff, 1077px 1609px #fff, 429px 1607px #fff,
        1658px 557px #fff, 455px 1951px #fff, 1638px 1508px #fff,
        1985px 1092px #fff, 1251px 1645px #fff, 669px 1370px #fff,
        51px 1380px #fff, 1284px 1661px #fff, 1233px 540px #fff,
        1751px 574px #fff, 399px 446px #fff, 403px 1646px #fff,
        1840px 1449px #fff, 1604px 1336px #fff, 1498px 349px #fff,
        1984px 1002px #fff, 506px 1371px #fff, 1045px 1489px #fff,
        1680px 1250px #fff, 1811px 1200px #fff, 1625px 661px #fff,
        1510px 1968px #fff, 78px 230px #fff, 1613px 1842px #fff,
        240px 1033px #fff, 1835px 128px #fff, 1519px 948px #fff,
        1382px 940px #fff, 279px 1114px #fff, 1505px 525px #fff,
        1831px 1233px #fff, 1873px 589px #fff, 1072px 218px #fff,
        764px 989px #fff, 1820px 892px #fff, 869px 603px #fff,
        1148px 1381px #fff, 334px 1788px #fff, 670px 781px #fff,
        326px 1997px #fff, 727px 1692px #fff, 1897px 465px #fff,
        880px 113px #fff, 935px 56px #fff, 1224px 581px #fff, 859px 1061px #fff,
        1461px 1662px #fff, 170px 1952px #fff, 199px 896px #fff,
        355px 253px #fff, 476px 441px #fff, 438px 339px #fff, 650px 1055px #fff,
        541px 1846px #fff, 918px 138px #fff, 1200px 329px #fff,
        607px 1135px #fff, 1305px 1739px #fff, 993px 125px #fff,
        256px 1503px #fff, 756px 1120px #fff, 1990px 1611px #fff,
        1718px 489px #fff, 1447px 557px #fff, 1985px 1617px #fff,
        113px 271px #fff, 207px 380px #fff, 1831px 364px #fff, 236px 1411px #fff,
        1241px 1210px #fff, 1191px 240px #fff, 387px 1189px #fff,
        1151px 417px #fff, 1103px 1534px #fff, 574px 1235px #fff,
        196px 576px #fff, 683px 1003px #fff, 893px 1424px #fff,
        1295px 1187px #fff, 567px 1541px #fff, 804px 168px #fff,
        468px 1313px #fff, 1975px 1676px #fff, 1151px 1971px #fff,
        174px 1342px #fff, 1979px 1351px #fff, 644px 394px #fff,
        657px 1109px #fff, 595px 234px #fff, 631px 1178px #fff,
        800px 1700px #fff, 1887px 1229px #fff, 1417px 1990px #fff,
        1289px 763px #fff, 500px 112px #fff, 228px 257px #fff, 269px 272px #fff,
        1789px 504px #fff, 264px 491px #fff, 1955px 416px #fff, 844px 726px #fff,
        440px 1873px #fff, 1886px 52px #fff, 1188px 1815px #fff,
        1132px 1136px #fff, 1916px 1288px #fff, 175px 1330px #fff,
        1100px 545px #fff, 247px 248px #fff, 1392px 1063px #fff,
        739px 1589px #fff, 1596px 1503px #fff, 1440px 1052px #fff,
        1158px 848px #fff, 1834px 397px #fff, 1726px 1230px #fff,
        238px 772px #fff, 1736px 948px #fff, 916px 85px #fff, 383px 1121px #fff,
        689px 681px #fff, 1966px 292px #fff, 1545px 539px #fff,
        525px 1763px #fff, 584px 1692px #fff, 39px 1958px #fff,
        1385px 1103px #fff, 730px 986px #fff, 1225px 901px #fff,
        590px 179px #fff, 1236px 1345px #fff, 1145px 18px #fff,
        1264px 768px #fff, 896px 22px #fff, 230px 393px #fff, 1532px 640px #fff,
        210px 1307px #fff, 431px 1650px #fff, 991px 1167px #fff,
        239px 1854px #fff, 5px 298px #fff, 149px 8px #fff, 1970px 11px #fff,
        1694px 1876px #fff, 615px 919px #fff, 1448px 438px #fff,
        1339px 1775px #fff, 1253px 1487px #fff, 1198px 85px #fff,
        826px 988px #fff, 278px 1775px #fff, 1979px 98px #fff, 595px 456px #fff,
        510px 567px #fff, 926px 1141px #fff, 1307px 560px #fff, 317px 328px #fff,
        1467px 276px #fff, 214px 300px #fff, 1728px 838px #fff,
        1839px 1299px #fff, 841px 423px #fff, 1645px 1918px #fff,
        1674px 1229px #fff, 1051px 359px #fff, 810px 841px #fff,
        385px 401px #fff, 1895px 335px #fff, 1025px 1469px #fff,
        1062px 375px #fff, 1678px 1046px #fff, 94px 12px #fff, 609px 1928px #fff,
        1444px 150px #fff, 1047px 160px #fff, 1732px 1531px #fff,
        1692px 166px #fff, 229px 502px #fff, 111px 989px #fff, 1564px 646px #fff,
        1899px 853px #fff, 1102px 1017px #fff, 273px 1px #fff, 442px 1595px #fff,
        865px 561px #fff, 833px 934px #fff, 219px 829px #fff, 1885px 1447px #fff,
        1437px 2000px #fff, 603px 781px #fff, 23px 1943px #fff, 498px 244px #fff,
        1395px 1133px #fff, 279px 1848px #fff, 1467px 271px #fff,
        1637px 1324px #fff, 1169px 1401px #fff, 291px 860px #fff, 8px 282px #fff,
        1818px 56px #fff, 453px 1255px #fff, 22px 1655px #fff, 772px 933px #fff,
        1788px 549px #fff, 431px 1910px #fff, 1243px 1578px #fff,
        40px 1451px #fff, 263px 1013px #fff, 1935px 548px #fff,
        734px 1927px #fff, 31px 192px #fff, 1133px 1551px #fff, 847px 4px #fff,
        1157px 452px #fff, 749px 597px #fff, 165px 1812px #fff,
        432px 1485px #fff, 1817px 1108px #fff, 484px 285px #fff,
        1656px 39px #fff, 881px 255px #fff, 1638px 483px #fff, 776px 52px #fff,
        1674px 281px #fff, 393px 567px #fff, 1008px 1554px #fff,
        195px 1700px #fff, 473px 1098px #fff, 305px 1127px #fff,
        1797px 429px #fff, 1170px 901px #fff, 697px 307px #fff,
        1784px 101px #fff, 241px 1431px #fff, 465px 682px #fff, 917px 716px #fff,
        304px 645px #fff, 1706px 1233px #fff, 904px 161px #fff, 946px 460px #fff,
        1208px 1659px #fff, 1021px 1489px #fff, 680px 560px #fff,
        1202px 1118px #fff, 1893px 324px #fff, 1134px 11px #fff,
        220px 1929px #fff, 1664px 275px #fff, 568px 1835px #fff,
        915px 1935px #fff, 725px 1972px #fff, 1571px 1677px #fff,
        1014px 1606px #fff, 1975px 677px #fff, 913px 179px #fff,
        1225px 1235px #fff, 688px 1248px #fff, 1734px 1664px #fff,
        1088px 1949px #fff, 1072px 1401px #fff, 1368px 1681px #fff,
        142px 1787px #fff, 293px 1399px #fff, 541px 296px #fff,
        1634px 325px #fff, 63px 671px #fff, 1116px 894px #fff,
        1182px 1557px #fff, 1092px 788px #fff, 143px 375px #fff,
        1495px 1505px #fff, 990px 608px #fff, 337px 1607px #fff,
        1852px 945px #fff, 741px 664px #fff, 1934px 1040px #fff,
        1649px 963px #fff, 416px 735px #fff, 1675px 306px #fff, 858px 760px #fff,
        582px 1372px #fff, 318px 1599px #fff, 1529px 1844px #fff,
        1764px 1249px #fff, 1348px 1966px #fff, 1794px 3px #fff,
        340px 1689px #fff, 1402px 1820px #fff, 1459px 916px #fff,
        267px 1761px #fff, 138px 606px #fff, 1588px 637px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 755px 1773px #fff, 1682px 787px #fff, 1465px 323px #fff,
        934px 645px #fff, 1458px 1983px #fff, 1017px 233px #fff,
        771px 1782px #fff, 664px 1869px #fff, 104px 286px #fff, 616px 717px #fff,
        1126px 1095px #fff, 297px 243px #fff, 1070px 659px #fff,
        797px 510px #fff, 1831px 1260px #fff, 264px 253px #fff,
        1841px 1810px #fff, 171px 1510px #fff, 1369px 1985px #fff,
        41px 1589px #fff, 441px 87px #fff, 1518px 1307px #fff, 531px 503px #fff,
        1353px 78px #fff, 946px 585px #fff, 1139px 313px #fff, 175px 1955px #fff,
        1214px 1669px #fff, 1728px 176px #fff, 1819px 1771px #fff,
        1378px 1357px #fff, 899px 1274px #fff, 645px 1175px #fff,
        91px 1809px #fff, 504px 1903px #fff, 883px 161px #fff, 916px 637px #fff,
        221px 863px #fff, 702px 1317px #fff, 94px 34px #fff, 707px 222px #fff,
        825px 322px #fff, 1832px 482px #fff, 1229px 1025px #fff,
        1729px 1954px #fff, 1824px 129px #fff, 277px 625px #fff,
        120px 364px #fff, 1306px 487px #fff, 103px 1762px #fff,
        1612px 346px #fff, 10px 1777px #fff, 956px 1406px #fff, 684px 797px #fff,
        1602px 522px #fff, 820px 735px #fff, 523px 75px #fff, 1172px 503px #fff,
        343px 1925px #fff, 513px 100px #fff, 485px 236px #fff, 708px 989px #fff,
        516px 1752px #fff, 1325px 1620px #fff, 601px 754px #fff,
        20px 1801px #fff, 1927px 556px #fff, 1128px 1026px #fff,
        676px 339px #fff, 81px 1889px #fff, 997px 268px #fff, 1246px 1832px #fff,
        753px 219px #fff, 919px 1633px #fff, 304px 1009px #fff,
        1086px 803px #fff, 629px 84px #fff, 354px 1846px #fff, 1638px 262px #fff,
        710px 1949px #fff, 1691px 1976px #fff, 1324px 1925px #fff,
        382px 327px #fff, 169px 600px #fff, 1003px 1417px #fff, 593px 209px #fff,
        254px 1944px #fff, 599px 253px #fff, 1406px 1242px #fff,
        1043px 89px #fff, 1454px 1911px #fff, 165px 751px #fff,
        389px 1714px #fff, 493px 1666px #fff, 944px 1467px #fff,
        399px 1723px #fff, 1500px 1368px #fff, 1571px 105px #fff,
        497px 258px #fff, 114px 77px #fff, 828px 418px #fff, 790px 1747px #fff,
        1434px 1229px #fff, 236px 119px #fff, 1891px 1048px #fff,
        1461px 1565px #fff, 247px 788px #fff, 1459px 1075px #fff,
        1900px 1172px #fff, 237px 1461px #fff, 1668px 696px #fff,
        1716px 1923px #fff, 1216px 429px #fff, 346px 663px #fff,
        896px 1885px #fff, 1668px 1004px #fff, 1649px 889px #fff,
        1199px 1870px #fff, 1123px 126px #fff, 1178px 382px #fff,
        1472px 962px #fff, 1314px 166px #fff, 869px 383px #fff, 231px 592px #fff,
        1261px 585px #fff, 429px 128px #fff, 1395px 995px #fff,
        1039px 874px #fff, 1812px 121px #fff, 544px 1669px #fff,
        1437px 397px #fff, 73px 79px #fff, 810px 1442px #fff, 1013px 1496px #fff,
        1147px 989px #fff, 1789px 1416px #fff, 185px 1925px #fff,
        225px 795px #fff, 1514px 244px #fff, 701px 985px #fff, 1097px 258px #fff,
        278px 934px #fff, 1069px 68px #fff, 1764px 980px #fff, 1658px 367px #fff,
        1792px 794px #fff, 564px 1514px #fff, 571px 728px #fff,
        1091px 409px #fff, 1981px 14px #fff, 325px 1002px #fff, 99px 269px #fff,
        1810px 4px #fff, 48px 1147px #fff, 637px 771px #fff, 1992px 1862px #fff,
        871px 214px #fff, 636px 973px #fff, 397px 1956px #fff, 356px 1059px #fff,
        859px 307px #fff, 325px 1374px #fff, 444px 1025px #fff, 839px 323px #fff,
        321px 323px #fff, 1724px 1210px #fff, 1560px 1647px #fff,
        323px 959px #fff, 355px 649px #fff, 973px 103px #fff, 408px 424px #fff,
        1870px 473px #fff, 1810px 1998px #fff, 893px 800px #fff,
        560px 1752px #fff, 1691px 966px #fff, 824px 1603px #fff,
        1127px 883px #fff, 1150px 1291px #fff, 947px 1391px #fff,
        1032px 1517px #fff, 830px 1859px #fff, 1589px 850px #fff,
        1716px 568px #fff, 827px 936px #fff, 1996px 1322px #fff,
        1411px 1285px #fff, 1493px 1290px #fff, 1093px 1140px #fff,
        931px 1315px #fff, 776px 1169px #fff, 1024px 1387px #fff,
        34px 924px #fff, 1700px 1333px #fff, 433px 1753px #fff,
        1834px 843px #fff, 1438px 721px #fff, 1619px 1726px #fff,
        79px 405px #fff, 356px 1954px #fff;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 755px 1773px #fff, 1682px 787px #fff, 1465px 323px #fff,
        934px 645px #fff, 1458px 1983px #fff, 1017px 233px #fff,
        771px 1782px #fff, 664px 1869px #fff, 104px 286px #fff, 616px 717px #fff,
        1126px 1095px #fff, 297px 243px #fff, 1070px 659px #fff,
        797px 510px #fff, 1831px 1260px #fff, 264px 253px #fff,
        1841px 1810px #fff, 171px 1510px #fff, 1369px 1985px #fff,
        41px 1589px #fff, 441px 87px #fff, 1518px 1307px #fff, 531px 503px #fff,
        1353px 78px #fff, 946px 585px #fff, 1139px 313px #fff, 175px 1955px #fff,
        1214px 1669px #fff, 1728px 176px #fff, 1819px 1771px #fff,
        1378px 1357px #fff, 899px 1274px #fff, 645px 1175px #fff,
        91px 1809px #fff, 504px 1903px #fff, 883px 161px #fff, 916px 637px #fff,
        221px 863px #fff, 702px 1317px #fff, 94px 34px #fff, 707px 222px #fff,
        825px 322px #fff, 1832px 482px #fff, 1229px 1025px #fff,
        1729px 1954px #fff, 1824px 129px #fff, 277px 625px #fff,
        120px 364px #fff, 1306px 487px #fff, 103px 1762px #fff,
        1612px 346px #fff, 10px 1777px #fff, 956px 1406px #fff, 684px 797px #fff,
        1602px 522px #fff, 820px 735px #fff, 523px 75px #fff, 1172px 503px #fff,
        343px 1925px #fff, 513px 100px #fff, 485px 236px #fff, 708px 989px #fff,
        516px 1752px #fff, 1325px 1620px #fff, 601px 754px #fff,
        20px 1801px #fff, 1927px 556px #fff, 1128px 1026px #fff,
        676px 339px #fff, 81px 1889px #fff, 997px 268px #fff, 1246px 1832px #fff,
        753px 219px #fff, 919px 1633px #fff, 304px 1009px #fff,
        1086px 803px #fff, 629px 84px #fff, 354px 1846px #fff, 1638px 262px #fff,
        710px 1949px #fff, 1691px 1976px #fff, 1324px 1925px #fff,
        382px 327px #fff, 169px 600px #fff, 1003px 1417px #fff, 593px 209px #fff,
        254px 1944px #fff, 599px 253px #fff, 1406px 1242px #fff,
        1043px 89px #fff, 1454px 1911px #fff, 165px 751px #fff,
        389px 1714px #fff, 493px 1666px #fff, 944px 1467px #fff,
        399px 1723px #fff, 1500px 1368px #fff, 1571px 105px #fff,
        497px 258px #fff, 114px 77px #fff, 828px 418px #fff, 790px 1747px #fff,
        1434px 1229px #fff, 236px 119px #fff, 1891px 1048px #fff,
        1461px 1565px #fff, 247px 788px #fff, 1459px 1075px #fff,
        1900px 1172px #fff, 237px 1461px #fff, 1668px 696px #fff,
        1716px 1923px #fff, 1216px 429px #fff, 346px 663px #fff,
        896px 1885px #fff, 1668px 1004px #fff, 1649px 889px #fff,
        1199px 1870px #fff, 1123px 126px #fff, 1178px 382px #fff,
        1472px 962px #fff, 1314px 166px #fff, 869px 383px #fff, 231px 592px #fff,
        1261px 585px #fff, 429px 128px #fff, 1395px 995px #fff,
        1039px 874px #fff, 1812px 121px #fff, 544px 1669px #fff,
        1437px 397px #fff, 73px 79px #fff, 810px 1442px #fff, 1013px 1496px #fff,
        1147px 989px #fff, 1789px 1416px #fff, 185px 1925px #fff,
        225px 795px #fff, 1514px 244px #fff, 701px 985px #fff, 1097px 258px #fff,
        278px 934px #fff, 1069px 68px #fff, 1764px 980px #fff, 1658px 367px #fff,
        1792px 794px #fff, 564px 1514px #fff, 571px 728px #fff,
        1091px 409px #fff, 1981px 14px #fff, 325px 1002px #fff, 99px 269px #fff,
        1810px 4px #fff, 48px 1147px #fff, 637px 771px #fff, 1992px 1862px #fff,
        871px 214px #fff, 636px 973px #fff, 397px 1956px #fff, 356px 1059px #fff,
        859px 307px #fff, 325px 1374px #fff, 444px 1025px #fff, 839px 323px #fff,
        321px 323px #fff, 1724px 1210px #fff, 1560px 1647px #fff,
        323px 959px #fff, 355px 649px #fff, 973px 103px #fff, 408px 424px #fff,
        1870px 473px #fff, 1810px 1998px #fff, 893px 800px #fff,
        560px 1752px #fff, 1691px 966px #fff, 824px 1603px #fff,
        1127px 883px #fff, 1150px 1291px #fff, 947px 1391px #fff,
        1032px 1517px #fff, 830px 1859px #fff, 1589px 850px #fff,
        1716px 568px #fff, 827px 936px #fff, 1996px 1322px #fff,
        1411px 1285px #fff, 1493px 1290px #fff, 1093px 1140px #fff,
        931px 1315px #fff, 776px 1169px #fff, 1024px 1387px #fff,
        34px 924px #fff, 1700px 1333px #fff, 433px 1753px #fff,
        1834px 843px #fff, 1438px 721px #fff, 1619px 1726px #fff,
        79px 405px #fff, 356px 1954px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1289px 1133px #fff, 1955px 46px #fff, 1116px 697px #fff,
        711px 760px #fff, 380px 731px #fff, 1173px 1010px #fff,
        543px 1984px #fff, 1099px 1953px #fff, 1796px 351px #fff,
        65px 1467px #fff, 1127px 619px #fff, 1430px 1146px #fff,
        564px 1731px #fff, 1272px 1117px #fff, 1908px 1851px #fff,
        1110px 311px #fff, 261px 1560px #fff, 1229px 1388px #fff,
        782px 1335px #fff, 1228px 1335px #fff, 1098px 377px #fff,
        1796px 1894px #fff, 141px 583px #fff, 1634px 1382px #fff,
        1567px 412px #fff, 1574px 397px #fff, 477px 999px #fff,
        1492px 1000px #fff, 624px 1427px #fff, 148px 81px #fff, 1726px 10px #fff,
        844px 1202px #fff, 691px 1125px #fff, 61px 633px #fff, 1722px 23px #fff,
        93px 1225px #fff, 567px 127px #fff, 891px 1730px #fff, 296px 521px #fff,
        2px 1920px #fff, 283px 1151px #fff, 745px 1191px #fff, 430px 1868px #fff,
        452px 1050px #fff, 428px 1206px #fff, 1537px 247px #fff,
        496px 1395px #fff, 1531px 1584px #fff, 253px 1754px #fff,
        1329px 912px #fff, 819px 921px #fff, 432px 1108px #fff, 53px 151px #fff,
        1581px 1439px #fff, 1708px 516px #fff, 798px 1916px #fff,
        931px 784px #fff, 463px 664px #fff, 271px 787px #fff, 882px 935px #fff,
        1879px 158px #fff, 351px 817px #fff, 165px 1586px #fff, 386px 966px #fff,
        1404px 913px #fff, 958px 1740px #fff, 83px 1335px #fff,
        1576px 945px #fff, 864px 1414px #fff, 470px 810px #fff, 23px 1295px #fff,
        501px 1844px #fff, 1590px 1536px #fff, 996px 1939px #fff,
        321px 1757px #fff, 1509px 546px #fff, 889px 678px #fff,
        901px 1922px #fff, 382px 627px #fff, 1114px 1133px #fff,
        1598px 1098px #fff, 439px 1280px #fff, 1360px 756px #fff,
        658px 633px #fff, 1911px 1525px #fff, 1613px 18px #fff,
        1129px 1690px #fff, 1677px 24px #fff, 99px 1252px #fff, 27px 519px #fff,
        134px 176px #fff, 665px 1720px #fff, 796px 1762px #fff,
        330px 1184px #fff, 1183px 243px #fff, 1059px 1808px #fff,
        775px 1556px #fff, 1074px 293px #fff, 1628px 308px #fff,
        622px 346px #fff;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 0px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1289px 1133px #fff, 1955px 46px #fff, 1116px 697px #fff,
        711px 760px #fff, 380px 731px #fff, 1173px 1010px #fff,
        543px 1984px #fff, 1099px 1953px #fff, 1796px 351px #fff,
        65px 1467px #fff, 1127px 619px #fff, 1430px 1146px #fff,
        564px 1731px #fff, 1272px 1117px #fff, 1908px 1851px #fff,
        1110px 311px #fff, 261px 1560px #fff, 1229px 1388px #fff,
        782px 1335px #fff, 1228px 1335px #fff, 1098px 377px #fff,
        1796px 1894px #fff, 141px 583px #fff, 1634px 1382px #fff,
        1567px 412px #fff, 1574px 397px #fff, 477px 999px #fff,
        1492px 1000px #fff, 624px 1427px #fff, 148px 81px #fff, 1726px 10px #fff,
        844px 1202px #fff, 691px 1125px #fff, 61px 633px #fff, 1722px 23px #fff,
        93px 1225px #fff, 567px 127px #fff, 891px 1730px #fff, 296px 521px #fff,
        2px 1920px #fff, 283px 1151px #fff, 745px 1191px #fff, 430px 1868px #fff,
        452px 1050px #fff, 428px 1206px #fff, 1537px 247px #fff,
        496px 1395px #fff, 1531px 1584px #fff, 253px 1754px #fff,
        1329px 912px #fff, 819px 921px #fff, 432px 1108px #fff, 53px 151px #fff,
        1581px 1439px #fff, 1708px 516px #fff, 798px 1916px #fff,
        931px 784px #fff, 463px 664px #fff, 271px 787px #fff, 882px 935px #fff,
        1879px 158px #fff, 351px 817px #fff, 165px 1586px #fff, 386px 966px #fff,
        1404px 913px #fff, 958px 1740px #fff, 83px 1335px #fff,
        1576px 945px #fff, 864px 1414px #fff, 470px 810px #fff, 23px 1295px #fff,
        501px 1844px #fff, 1590px 1536px #fff, 996px 1939px #fff,
        321px 1757px #fff, 1509px 546px #fff, 889px 678px #fff,
        901px 1922px #fff, 382px 627px #fff, 1114px 1133px #fff,
        1598px 1098px #fff, 439px 1280px #fff, 1360px 756px #fff,
        658px 633px #fff, 1911px 1525px #fff, 1613px 18px #fff,
        1129px 1690px #fff, 1677px 24px #fff, 99px 1252px #fff, 27px 519px #fff,
        134px 176px #fff, 665px 1720px #fff, 796px 1762px #fff,
        330px 1184px #fff, 1183px 243px #fff, 1059px 1808px #fff,
        775px 1556px #fff, 1074px 293px #fff, 1628px 308px #fff,
        622px 346px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}
